// Blaze brand colours
$black: #29333b;
$blazeBlackSideNav: #303e4e;
$blackAlt: #536578;
$retail: #1cc4e8;
$retailAlt: #2cb2dc;
$distro: #ffae00;
$distroAlt: #f59f00;
$grow: #42d39a;
$growAlt: #41c396;
$dispatch: #eb8d48;
$dispatchAlt: #de8c45;
$manufacturing: #9b51e0;
$manufacturingAlt: #914fc4;
$blazepay: #45dcc1;
$blazepayAlt: #46cebc;
$insights: #ffd500;
$insightsAlt: #f0bc00;
$events: #ff6896;

// Blaze action colours
$danger: #f25e3d;
$dangerAlt: #db572e;

// Blaze mono colours
$mono20: #202020;
$mono33: #333333;
$mono55: #555555;
$mono77: #777777;
$mono99: #999999;
$monobb: #bbbbbb;
$monocc: #cccccc;
$monodd: #dddddd;
$monoee: #eeeeee;
$monoF5f7fa: #f5f7fa;
$monoFa: #fafafa;
$monoFf: #ffffff;
